*{
    box-sizing: border-box;
}

/*Body delen i css mobile*/
body{
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}

/*Forside css i mobile body*/
/*Forside css i mobile body slutten*/

/*Portofolio css i mobile body*/
/*Portofolio css i mobile body slutten*/

/*About css i mobile body*/
/*About css i mobile body slutten*/

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    box-sizing: border-box;
}
/*Body delen i css mobile slutten*/

/*header delen i css mobile*/

header{
    font-size: 1.5rem;
    grid-area: header;
    text-align: center;
    padding-top: 0.5rem;
}

header nav a{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem;
    text-decoration: none;
}
/*header delen i css mobile slutten*/

/*Forside css i mobile header*/
#compeling-headline{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
}

#compeling-headline p{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
}

#compeling-headline a{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: space-around;
    width: fit-content; 
    font-size: 1.4rem;
}

#compeling-headline h1{
    flex-basis: 100%;
    text-align: center;
    position: relative;
}

#compeling-headline h2{
    flex-basis: 100%;
    text-align: center;
    position: relative;
}

#compeling-headline::before{
    content: "";
    background-image: url(../img/pen-laptop-bok.jpg);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
/*Forside css i mobile header slutten*/

/*Portofolio css i mobile header*/
#compeling-headline-pf{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#compeling-headline-pf h1{
    flex-basis: 100%;
    text-align: center;
    position: relative;
    padding: 10rem 0;
}

#compeling-headline-pf::before{
    content: "";
    background-image: url(../img/pen-laptop-bok.jpg);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
/*Portofolio css i mobile header slutten*/

/*About css i mobile header*/
#compeling-headline-about{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
}

#compeling-headline-about p{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
}

#compeling-headline-about a{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: space-around;
    width: fit-content; 
    font-size: 1.4rem; 
}

#compeling-headline-about h1{
    flex-basis: 100%;
    text-align: center;
    position: relative;
}

#compeling-headline-about::before{
    content: "";
    background-image: url(../img/pen-laptop-bok.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/*About css i mobile header slutten*/

/*main delen i css mobile*/

main{
    grid-area: main;
}

/*Forside css i mobile main*/
.padding-content{
    padding: 1rem;
}

.padding-content h2{
    text-align: center;
}

#about-border{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    background-color: #e6bd43;
}

#about-border div{
    flex-basis: 70%;
    margin: 0 auto;
    display: block;
    padding: 1.5rem;
}

#about-border img{
    width: 100%;
    object-fit: cover;
}

#about-border-btn{
    border: 2px solid black;
    display: inline-block;
}

#our-services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
}

#our-services h2{
    flex-basis: 100%;
    text-align: center;
}

#our-services article{
    text-align: center;
}

#our-services i{
    font-size: 2rem;
}

#sa-img{
    justify-content: center;
    text-align: center;
}

#sa-img img{
    width: 70%;
    height: auto;
}

#sa-img p{
    width: 100%;
    height: auto;
    font-weight: 900;
    font-size: large;
    padding: 0.5rem;
}

/*Portofolio css i mobile main*/
#portofolio-main

.BDD-btn{
    padding: 0.5rem;
    text-decoration: none;
    color: #000;
    width: fit-content;
    margin: 0.5rem;
    border: 2px solid black;
    float: inline-start;
}

#branding-skip{
    display: inline-block;
    margin-top: 2.5rem;
    width: 100%;
}
/*Portofolio css i mobile main slutten*/

/*About css i mobile main*/

#background-clients{
    background-color: #e6bd43;
    text-align: center;
}

#article-img-about img{
    text-align: center;
}

#contact-us-skip

#contact-us-skip label, input, textarea{
    padding: 0.5rem;
    display: block;
    margin-bottom: 20px;
}

#contact-us-skip textarea{
    padding: 1.5rem;
    display: block;
    margin-bottom: 20px;
    height: 5rem;
}

#contact-us{
    text-align: center;
    justify-content: space-around;
    padding: 1.5rem;
}

#contact-us i{
    font-size: 1.5rem;
    float: left;
}
/*About css i mobile main slutt*/

/*footer delen i css mobile*/

footer{
    grid-area: footer;
}
/*footer delen i css mobile slutten*/

/*Forside css i mobile footer*/
/*Forside css i mobile footer slutten*/

/*Portofolio css i mobile footer*/
/*Portofolio css i mobile footer slutten*/

/*About css i mobile footer*/
/*About css i mobile footer slutten*/

/*Gjelder all tre sider i mobile*/
/*(body) er ikke i header eller andre men påvirker hele siden*/
.underline-text-home{
    border-bottom: solid;
    border-color: #e6bd43;
    text-decoration-style: solid;
    text-decoration-thickness: 0.2rem;
    padding: 0.5rem;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

.underline-text{
    border-bottom: solid;
    border-color: #e6bd43;
    text-decoration-style: solid;
    text-decoration-thickness: 0.2rem;
    padding: 0.5rem;
}


.underline-text a{
    text-decoration: underline;
    text-decoration-color: #e6bd43;
    text-decoration-style: solid;
    text-decoration-thickness: 0.2rem;
    padding: 0.5rem;
    width: fit-content;
}

.yellow-btn{
    padding: 1rem;
    background-color: #e6bd43;
    text-decoration: none;
    color: #000;
    width: fit-content;
    margin: auto;
    font-weight: bold;
}
/*(body) er ikke i header eller andre men påvirker hele siden slutten*/

/*header*/
/*header slutt*/

/*main*/
/*main slutt*/

/*footer*/
#newsletter-color{
    background-color: lightgrey;
    text-align: center;
    padding: 0.5rem;
}

#newsletter-color input{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin: auto;
    display: inline-block;
}

#newsletter-color p{
    padding: 1rem;
    background-color: #e6bd43;
    text-decoration: none;
    color: #000;
    width: fit-content;
    display: inline;
    font-weight: bold;
}

#company-social{
    background-color: #000;
    color: white;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

#company-social img{
   width: 20%;
   height: auto; 
}

#company-social i{
    font-size: 2rem;
    padding-inline: 0.5rem;
}

#google-kart{
    width: 100vw;
    height: 180px;
    position: relative;
}

#ikoner-social-desk a{
    font-size: 2rem;
    padding-inline: 0.5rem;
    flex-direction: row;
    color: white;
    text-decoration: none;
}

/*footer slutt*/
/*Gjelder all tre sider i mobile slutten*/

/*Dette er media Q for nettsidens oppset/utseende på desktop*/
@media only screen and (min-width:600px) and (max-width: 1600px) {
    #grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    header{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    main{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    footer{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    *{
        box-sizing: border-box;
    }

/*Header delen i desktop*/

    header{
        font-size: 1.5rem;
        grid-area: header;
        /*padding: 1rem;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
   
    header nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /*main delen i desktop*/
    #our-services{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
    }
    
    #our-services h2{
        flex-basis: 100%;
        text-align: center;
        margin: 0 auto;
    }
    
    #our-services article{
        text-align: center;
        margin: 0 auto;
        flex-basis: 20%;
    }
    
    #our-services i{
        font-size: 2rem;
    }

    /*main delen i desktop slutten*/

    /*footer delen i desktop*/

    #newsletter-color{
        background-color: lightgrey;
        text-align: center;
        padding: 0.5rem;
    }
    
    #newsletter-color input{
        box-sizing: border-box;
        padding-inline: 1rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }
    
    #newsletter-color p{
        padding: 1rem;
        background-color: #e6bd43;
        text-decoration: none;
        color: #000;
        width: fit-content;
        display: inline-block;
        font-weight: bold;
    }

    #company-social{
        background-color: #000;
        color: white;
        text-align: center;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #company-social p{
        justify-content: space-between;
    }
    
    #company-social img{
       width: 70px;
       height: 70px; 
       display: flex;
       flex-direction: row;
       margin: 1rem;
    }
    
    #ikoner-social-desk a{
        font-size: 2rem;
        padding-inline: 0.5rem;
        flex-direction: row;
        color: white;
        text-decoration: none;
    }

     /*footer delen i desktop slutten*/

    /*Forside css desktop*/
    /*Forside css desktop slutten*/

    /*Portofolio css desktop*/
    #padding-explore{
        display: inline-block;
    }

    #compeling-headline-pf{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    #compeling-headline-pf h1{
        flex-basis: 100%;
        text-align: center;
        position: relative;
        padding: 12rem;
        width: 100vw;
    }
    
    #compeling-headline-pf::before{
        content: "";
        background-image: url(../img/pen-laptop-bok.jpg);
        background-size: cover;
        opacity: 0.5;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

    #sa-img{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        flex-flow: row wrap;
        align-items: baseline;
    }

    #sa-img-trio{
        align-items: center;
    }

    #sa-img h2{
        flex-basis: 100%;
        margin: 0 auto;
        text-align: initial;
        margin-bottom: 2.5rem;
    }

    #sa-img img{
        max-width: 350px;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #sa-img article{
        padding: 1rem;
    }

    #sa-img p{
        width: 100%;
        height: auto;
        font-weight: 900;
        font-size: large;
        padding: 0.5rem;
        display: flex
    }

    #giga-img img{
        max-width: 692px;
        flex-grow: 0.8;
    }

    .two-big-img{
        max-width: 350px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        flex-flow: row wrap;
        align-items: baseline;
    }
    /*Portofolio css desktop slutten*/

    /*About css desktop*/

   #about-border{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 1rem;
        flex-direction: row;
        background-color: #e6bd43;
        flex-flow: row wrap;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    #about-border div{
        flex-basis: 70%;
        margin: 0 auto;
        display: block;
        padding: 1.5rem;
        padding-top: 4.5rem;
    }

    #about-border p{
        margin-bottom: 40px;
    }
    
    #about-border img{
        width: 70%;
        display: inline-block;
        flex-basis: 30%;
        margin: 0 auto;
        padding: 1rem;
    }
    
    #about-border-btn{
        border: 2px solid black;
    }

    #compeling-headline-about{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        justify-content: space-around;
    }
    
    #compeling-headline-about p{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        justify-content: space-around;
    }
    
    #compeling-headline-about a{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0.5rem;
        justify-content: space-around;
        width: fit-content; 
        font-size: 1.4rem; 
    }
    
    #compeling-headline-about h2{
        flex-basis: 100%;
        text-align: center;
        position: relative;
    }
    
    #compeling-headline-about::before{
        content: "";
        background-image: url(../img/pen-laptop-bok.jpg);
        background-size: cover;
        position: absolute;
        opacity: 0.5;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
    
    #background-color-company{
        background-color: white;
    }

    #background-clients{
        background-color: #e6bd43;
        text-align: center;
        padding: 1.5rem;
    }

    #article-img-about img{
        text-align: center;
        padding: 0 2rem;
        justify-content: space-between;
    }

    #contact-us-skip{
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
    }

    #contact-us-skip label, input, textarea{
        padding: 0.5rem;
        display: block;
        margin-bottom: 20px;
    }

    #contact-us-skip textarea{
        padding: 1.5rem;
        display: block;
        margin-bottom: 20px;
        height: 5rem;
    }

    #contact-us-skip section{
        flex-basis: 20%;
        margin: 0 auto;
    }

    #contact-us-skip h2{
        flex-basis: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #google-kart{
        width: 100vw;
        height: 180px;
        position: relative;
    }
    /*About css desktop slutten*/
}