body{
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    box-sizing: border-box;
}

header, main, footer{
    padding: 1rem;
}

header{
    font-size: 1.5rem;
    grid-area: header;
    text-align: center;
}

header nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem;
}

.yellow-btn{
    padding: 1rem;
    background-color: #e6bd43;
    text-decoration: none;
    color: #000;
    width: fit-content;
    margin: auto;
}

#compeling-headline{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
}

#compeling-headline p{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
}

#compeling-headline a{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: space-around;
    width: fit-content; 
}

#compeling-headline h1{
    flex-basis: 100%;
    text-align: center;
    position: relative;
}

#compeling-headline::before{
    content: "";
    background-image: url(../img/pen-laptop-bok.jpg);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#about-border{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    border: 1px solid black;
    
}

#about-border img{
    width: 100%;
}

#about-border-btn{
    border: 2px solid black;
}

/*husk enten en id eller class til de index dokumentene på siden sånn at 
understreken på lenkene ikke synes*/

main{
    grid-area: main;
}

/*husk enten en id eller class eller en main section img på css for
bilde for å få den responsiv*/

footer{
    grid-area: footer;
}

#our-services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
}

#our-services h2{
    flex-basis: 100%;
    text-align: center;
}

#newsletter-color{
    background-color: lightgrey;
    text-align: center;
    padding: 0.5rem;
}

#company-social{
    background-color: #000;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

@media only screen and (min-width:600px) {
    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    header{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    main{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    footer{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

